{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <div class="container">
        <h1>Создать новый курс</h1>

        {{ include('course/_form.html.twig') }}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <a href="{{ path('app_course_index') }} " class="btn btn-outline-secondary" role="button">К списку курсов</a>

        </footer>
    </div>
{% endblock %}
