{% extends 'base.html.twig' %}

{% block title %}Изменить урок{% endblock %}

{% block body %}
    <div class="container">
        <h1>Изменить урок</h1>

        {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}

        <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}" class="btn  btn-outline-secondary" role="button">Вернуться к курсу</a>

        {{ include('lesson/_delete_form.html.twig') }}
    </div>
{% endblock %}
