{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <div class="container">
        <h1>Новый урок</h1>

        {{ include('lesson/_form.html.twig') }}

        <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}" class="btn btn-outline-secondary">Вернуться к курсу</a>
    </div>
{% endblock %}
